#main_d {

}
#main_d .wrap {
  width: 1280px;
  align-items: center;
  padding-bottom: 20px;
}
#main_d .wrap h2{
  visibility: hidden;
}
#main_d .wrap > img{
  width: 560px;
  height: 316px;
}
#main_d .wrap .content{
  
}
#main_d .wrap .txt_d {
  padding-left: 80px;
  padding-right: 40px;
}
#main_d .wrap .txt_d img {

}
#main_d .wrap .txt_d p {

  font-size: 14px;
  line-height: 1.6;
  padding-bottom: 20px;
}
#main_d .wrap .txt_d a.button {
  color: white;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 15px;
  font-weight: 300;
  transition: opacity 0.5s;
  background-color: black;
  line-height: 2;
}
#main_d .wrap .txt_d a.button:hover {
  background: linear-gradient(to right, #6566D8, #EF8768);
}
#main_d .wrap ul.logo {
  padding-left: 80px;
  padding-right: 40px;
  justify-content: space-between;
}
#main_d .wrap ul.logo li {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 20px;
  width: 135px;
  height: 70px;
  font-size: 0;
}
#main_d .wrap ul.logo li:nth-of-type(1) {
  background-image: url(../img/main_d_3.jpg);
}
#main_d .wrap ul.logo li:nth-of-type(2) {
  background-image: url(../img/main_d_4.jpg);
}
#main_d .wrap ul.logo li:nth-of-type(3) {
  background-image: url(../img/main_d_5.jpg);
}
#main_d .wrap ul.logo li:nth-of-type(4) {
  background-image: url(../img/main_d_6.jpg);
}