section#title {

}
section#title .wrap {
  width: 100%;
  /*! overflow: hidden; */
}
section#title .wrap h2{
  visibility: hidden;
}
section#title .wrap .click{
  height: 520px;
}
section#title .wrap .click ul.new {
}
section#title .wrap .click ul.new .slick-prev{
  z-index: 1;
  left: 30px;
}
section#title .wrap .click ul.new .slick-next{
  right: 30px;
}
section#title .wrap .click ul.new .slick-prev::before, .slick-next::before{
  
}
section#title .wrap .click ul.new .slick-dots{
  position: absolute;
  bottom: 20px;
}
section#title .wrap .click ul.new li {
  
}
section#title .wrap .click ul.new li button{
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
}
section#title .wrap .click ul.new li button::before{
  display: none;
}
section#title .wrap .click ul.new li a {
  display: inline-block;
  width: 100%;
  height: 520px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section#title .wrap .click ul.new li.new_one a {
 background-image: url(../img/title_2.jpg);
}
section#title .wrap .click ul.new li.new_two a {
 background-image: url(../img/title_3.jpg);
}
section#title .wrap .click ul.new li.new_three a {
 background-image: url(../img/title_4.jpg);
}
section#title .wrap .click ul.new li.new_four a {
 background-image: url(../img/title_5.jpg);
}
section#title .wrap .click ul.new li.new_five a {
 background-image: url(../img/title_1.jpg);
}
section#title .wrap ul.ad {
  background-color: black;
  padding-top: 14px;
  padding-bottom: 16px;
  justify-content: center;
  font-size: 15px;
  gap: 10px;
  letter-spacing: 0.5px;
}
section#title .wrap ul.ad li {
  color: white;
}
section#title .wrap ul.ad li span {
  font-weight: 900;
}
section#title .wrap ul.ad li a {
  color: white;
  border-bottom: 1px solid;
}